<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
  
  <title><%= title %></title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:ital,wght@1,700&family=Poppins:wght@100;200&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  
  <%- include('layout') %>
 <div class="page">
      <div class="content">
    
        <p>Hello everyone,</br></br>

        My name is Madisyn Lobodzinski, and I am thrilled to share my journey with you. As a dedicated software engineering student at Centennial College, I am passionate about leveraging technology to solve complex problems and drive innovation.
        
        Throughout my academic journey, I have acquired a solid foundation in software development principles, algorithms, and data structures. I have also honed my skills in various programming languages such as Java, C#, and HTML, enabling me to design efficient and scalable solutions.</br></br>
        
        Beyond my academic pursuits, I have actively sought opportunities to gain practical experience and expand my knowledge in the field. I have collaborated on diverse projects, both individually and as part of interdisciplinary teams, where I have had the chance to apply my skills to real-world scenarios. These experiences have equipped me with a well-rounded perspective on software engineering, allowing me to approach challenges with creativity, adaptability, and a keen attention to detail.
        
        Furthermore, my strong problem-solving abilities and analytical mindset enable me to dissect complex issues, identify root causes, and devise effective solutions. I thrive in dynamic environments that require collaboration and teamwork, as I believe that diverse perspectives foster innovation and yield superior outcomes.</br></br>
        
        Continuous learning is at the core of my professional philosophy. I am committed to staying updated with the latest advancements in software engineering and actively participating in industry-related communities. By keeping abreast of emerging trends and best practices, I aim to deliver cutting-edge solutions that address the ever-evolving needs of the digital landscape.
        
        Thank you for visiting my website, and I invite you to explore my portfolio and learn more about my journey as a software engineering student. I am excited about the opportunity to contribute to impactful projects and make a positive difference in the world through technology.</br></br>

        Best regards, </br></br>
        
        Madisyn Lobodzinski</p>

      </div>
      <img class="picofme1" src="Assets\images\m2.jpg" alt="girl in a field">
      <img class="picofme2" src="Assets\images\me3.JPG" alt="girl sitting on stairs">
</div>

  <div class="resume">
    <a href="https://orange-dionis-93.tiiny.site/" target="_blank">
        <button>View My Resume</button>
  </div>

</body>
</html>