<!--Portfolio, Madisyn Lobodzinski, 301-286-511, 2023-06-02 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
  <!--Linking the common page layout as well as scripts/styles--> 
  <%- include('partials/layout') %>
 
  <div class="picofme">
  <img class="me" src="Assets\images\me.jpg" alt="Girl standing">
  </div>
 
  <img class="mission" src="Assets\images\missionstatement.png" alt="Mission statement">

</body>
</html>



