<!--Portfolio, Madisyn Lobodzinski, 301-286-511, 2023-06-02 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <title><%= title %></title>

  </head>

<body>
  
  <!--Linking the common page layout as well as scripts/styles-->
  <%- include('partials/layout') %>
 
  <h2 class="services">Projects I've Worked On</h2>

 
  <div class="icons">
    <div class="item1">
        <img class="proj1" src="Assets\images\javaproj.JPG" alt="icon">
        <h4>Java Project</h4>
        <p>This project serves as an introduction to Java programming, providing hands-on experience in writing and executing code, as well as understanding core concepts and building a simple interactive application.</p>
        
    </div>    
    
    <div class="item2">
        <img class="proj2" src="Assets\images\srs.jpg" alt="icon">
        <h4>Software Engineering Requirements Project</h4>
        <p>I am currently working on a mobile budget application for fellow college students. The project demonstrates my ability to design and develop complex web applications, handle real-time updates, integrate with external APIs, and create user-friendly interfaces. It highlights my strong problem-solving skills and attention to detail in software development.</p>
    </div> 
    
    <div class="item3">
        <img class="proj3" src="Assets\images\data.jpg" alt="icon">
        <h4>Database Project</h4>
        <p> This database project showcases my proficiency in database design, normalization techniques, data modeling, and query optimization. This project highlights my ability to create scalable and robust database systems that meet the specific requirements of an online business, ensuring smooth operations and improved customer satisfaction.</p>
    </div>   
    
</div>
</body>
</html>
