/* Portfolio, Madisyn Lobodzinski, 301-286-511, 2023-06-02 */

/* Layout CSS */

h1 {
    padding-left: 20px;
    padding-top: 20px;
  }

  body {
    background-color: white;
    padding-bottom: 100px;
}

/* Home Page CSS */

.me {
    width: 50%;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picofme {
    padding-bottom: 100px;
}

.logo {
    width: 15%;
    height: auto;
    display: block;
}


.mission {
    width: 30%;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* About me page CSS */

.content {
    display:block;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

}
.picofme1{
    width: 30%;
    height: auto;
    float: right;
    display: block;
    margin-top: 25%;
    margin-right: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
.page {
    padding-top: 5%;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* Service page CSS */

.services {
    display:block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.icon1, .icon2, .icon3 {
    height: auto;
    width: 100px;
    
    padding-top: 100px;
}

.icons {
    justify-content: center;
    align-content: center;
    display: flex;
}

.icon1,.icon2,.icon3{
    padding-top: 10px;
    padding-bottom: 15px;
}

.item1, .item2 {
    margin-right: 15%;
}
.item1, .item2, .item3{
    width:300px;
    background-color: transparent;
    border: 1px solid transparent;
    text-align:center;
    display:block;
    margin-bottom: 1px;
  }

/* Contact page CSS */
 
 form {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-left: 50px;
 }

 .submit {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
 }
 .submit2{
    padding-left: 50px;
 }

 #inputName, #inputEmail, #inputText {
    width: 50%;
    height: auto;
 }

 #inputText {
    height: 200px;
 }

 textarea {
    height: 200px;
    width: 50%;
    padding-left: 50px;
 }

/* Projects page CSS */

.projects {
    display:block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.proj1, .icon2, .icon3 {
    height: auto;
    width: 100px;
    
    padding-top: 100px;
}

.icons {
    justify-content: center;
    align-content: center;
    display: flex;
}

.icon1,.icon2,.icon3{
    padding-top: 10px;
    padding-bottom: 15px;
}

.item1, .item2 {
    margin-right: 15%;
}
.item1, .item2, .item3{
    width:300px;
    background-color: transparent;
    border: 1px solid transparent;
    text-align:center;
    display:block;
    margin-bottom: 1px;
  }

.proj1,.proj2, .proj3{
    width: 300px;
    height: auto;
    padding-bottom: 20px;
}

.proj3 {
    width: 300px;
    height: 370px;
}

 